@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
ol {
    list-style: auto;
}
.wrapper {
    overflow-x: hidden;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}
.recipe {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.recipe__content {
    padding: 10px;
    background-color: #fff;
    width: 350px;
    height: 560px;
    overflow: auto;
}
.recipe__logo {
    cursor: pointer;
}
.recipe__logo img{
    width: 100%;
}
.recipe__search {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.recipe__search::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #3d3d3d;
}
.recipe__search-field {
    width: 100%;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
    font-size: 1.6rem;
}
.recipe__search-btn {
    width: 40px;
    background-color: #fff;
    border: none;
}
.recipe__search-btn svg {
    cursor: pointer;
}
.recipe__favorites {
    padding: 15px 0;
}
.recipe__favorites.none {
    visibility: hidden;
    position: absolute;
}
.recipe__favorites-title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1.4em;
}
.recipe__favorites-items {
    display: flex;
    text-align: center;
    overflow-x: auto;
}
.recipe__favorites-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.recipe__favorites-item:not(:last-child) {
    margin-right: 10px;
}
.recipe__favorites-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;    
}
.recipe__favorites-sub-text {
    width: 100px;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}
.recipe__favorites-remove-but {
    position: absolute;
    right: 15px;
}

.recipe__meals {
}
.recipe__favorites.none + .recipe__meals {
    padding-top: 30px;
}
.recipe__meal {
    margin-bottom: 40px;
    cursor: pointer;
}
.recipe__mealEl_random {
    position: relative;
}
.recipe__mealEl_random::before{
    content: 'random meal';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50%;
    height: 10%;
    background-color: #0c7a11;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.recipe__meal-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipe__meal-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}
.recipe__meal-name {
    font-weight: 500;
    font-size: 2rem;
    margin-right: 20px;
    line-height: 1.2;
}
.recipe__meal-icon svg {
    transition: .3s ease 0s;
    width: 30px;
    cursor: pointer;
    opacity: .3;
    fill: #3d3d3d;
}
.recipe__meal-icon svg:hover {
    fill: #0c7a11;
}



.recipe ::-webkit-scrollbar {
    width: .2em;
  }
   
  .recipe ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .recipe ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }
.recipe__manual {
    position: relative;
    width: 350px;
    height: 560px;
    overflow: auto;
    background-color: #fff;
    padding: 50px 10px 10px 10px;
    position: absolute;
    z-index: 10;
}
.recipe__manual svg {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
  .manual__name {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1.4em;
  }
  .manual__img {
    width: 100%;
    margin-bottom: 1em;
  }
  .recipe__meal-icon.active svg {
    fill: #0c7a11;
    opacity: 1;
  }
  .manual__instructions {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .manual__instructions::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3d3d3d;
  }
  .manual__ingredients {
    list-style-position: inside;
    line-height: 1.2;
  }
.manual__ingredients li {
    margin-bottom: 5px;
}
  .recipe__favorites ::-webkit-scrollbar {
    height: 10px;
  }
   
  .recipe__favorites ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  .recipe__favorites ::-webkit-scrollbar-thumb {
    background-color: #0c7a11;
    outline: none;
    border-radius: 10px;
  }